# my local setup of theano (to use with virtualenv)
Theano/

# Papers go here, maybe will upload later?
doc/

# Dumb nix tempfiles
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IPython Notebook
.ipynb_checkpoints

# virtualenv
venv/

# IDEA project
.idea/